@import '../colors';
// 공통 레이아웃
.layout {
  font-family: 'LeeSeoyun';
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 480px;
  min-width: 380px;
  width: 100%;
<<<<<<< HEAD
  height: 100vh;
  padding: 32px;
=======
>>>>>>> 005960a (feat: 롤링페이퍼 레이아웃 새버전)
  &.light {
    background-color: $mainBg;
    color: #000;
  }
  &.dark {
    background-color: $darkBg;
    color: #fff;
  }
}
