@use '@/styles/colors.scss' as colors;
@use '@/styles/core/_typography.scss' as txt;
.content {
  position: relative;
  margin: 0 auto;
  padding: 16px;
  padding-bottom: 260px;
  height: 100%;
  min-height: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.content::-webkit-scrollbar {
  display: none;
}

.border {
  position: absolute;
  top: -10px;
  left: -10px;
}

.sticker-modify-content {
  z-index: 8;
  position: absolute;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  &.modify-mode {
    opacity: 1;
    pointer-events: visible;
  }
  transition: opacity 0.5s ease;
}

.sticker-content {
  position: absolute;
  top: 0;
  height: 100%;
  pointer-events: none;
  opacity: 1;
  &.modify-mode {
    opacity: 0;
  }
  transition: opacity 0.5s ease;
}

.until-open {
  position: absolute;
  z-index: 101;
  bottom: 105px;
  text-align: center;
  color: colors.$point;
  font-size: 16px;
  backdrop-filter: blur(1px);
}

.paper-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
  margin: 50px;
  .name {
    color: colors.$subPoint;
  }
  .title {
    color: colors.$point;
  }
}
