@import '../core/typography';
@import '../colors';

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  @include typograpy('basic', 32px);
  min-height: 130px;
}
.header_name {
  color: $subPoint;
}
.only-button .header_buttons {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.title-button .header_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
