@import '../core/typography';
@import '../colors';

.header {
  display: flex;
  width: 100%;
  padding: 0 8px;
  justify-content: space-between;
  align-items: flex-start;
  @include typograpy('basic', 32px);
}
.header_name {
  color: $subPoint;
}
.only-button .header_buttons {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.title-button .header_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  height: 100%;
}
.logout_button {
  svg {
    width: 24px;
    height: 24px;
    fill: $subPoint;
  }
}
.isCursor {
  cursor: text;
}

.rollingpaper-buttons {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 100;
  button {
    margin-bottom: 8px;
  }
}
