@use '/src/styles/colors.scss';
@use '/src/styles//abstracts/responsive';

// Main Area
.myPageMainContent {
  position: relative;
  width: 90%;
  margin: 18px auto;

  .roll {
    display: flex;
    justify-content: center;
    height: 78px;
    border-radius: 28px;

    .paperInfoWrap {
      display: flex;
      width: 200px;
      justify-content: center;
      align-items: center;
      background: colors.$point;
      border: 1px solid colors.$point;
      border-top-left-radius: 28px;
      border-bottom-left-radius: 28px;

      p {
        width: 90%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        word-break: break-all;
        text-overflow: ellipsis;
        color: colors.$white;
      }
    }

    .openDateWrap {
      display: flex;
      width: 180px;
      justify-content: center;
      align-items: center;
      background-color: colors.$white;
      padding-left: 12px;
      border: 1px solid colors.$point;
      border-top-right-radius: 28px;
      border-bottom-right-radius: 28px;

      p {
        color: colors.$myPageBlack;
        padding-right: 12px;
      }
    }
  }
}

@include responsive.mobileOnly {
  .paperInfoWrap {
    min-width: 170px;
  }
  .openDateWrap {
    min-width: 150px;
  }
}
