@use '/src/styles/colors.scss';

// Main Area
.myPageMainContent {
  padding: 0 16px;
  border-bottom: 1px solid colors.$grayMid;

  .roll {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 52px;

    .paperInfoWrap {
      flex: 1 1 auto;
      p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        word-break: break-all;
        text-overflow: ellipsis;
        text-align: start;
        font-size: 14px;
        color: colors.$textBlack;
        box-sizing: border-box;
        padding-right: 4px;
      }
    }

    .openStatusWrap {
      display: flex;
      flex: 0 0 52px;
      box-sizing: border-box;
    }

    .openDateWrap {
      display: flex;
      flex: 0 0 100px;
      font-size: 14px;

      .dueDate {
        width: 80px;
        color: colors.$myPageBlack;
      }
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
  .dropdownContainer {
    position: relative;
    height: auto;
  }
}
