@use '/src/styles/colors.scss';

// Main Area
.myPageMainContent {
  position: relative;
  width: 90%;
  height: 85px;
  padding-top: 16px;
  margin: 18px auto;

  .roll {
    display: flex;
    height: 78px;
    border: 1px solid colors.$point;
    border-radius: 28px;

    .paperInfoWrap {
      display: flex;
      flex: 1 1 50%;
      justify-content: space-between;
      align-items: center;
      padding: 0 12px;
      background: colors.$point;
      border-top-left-radius: 28px;
      border-bottom-left-radius: 28px;

      p {
        color: colors.$white;
      }

      button > img {
        width: 16px;
        height: 13px;
      }
    }

    .openDateWrap {
      display: flex;
      flex: 1 1 50%;
      justify-content: center;
      align-items: center;
      background-color: colors.$white;
      padding-left: 12px;
      border-top-right-radius: 28px;
      border-bottom-right-radius: 28px;

      p {
        color: colors.$myPageBlack;
        padding-right: 12px;
      }
    }
  }
}
