@use '/src/styles/colors.scss';

.openState {
  width: 42px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  background: colors.$lightGrayBg;
  text-align: center;
  font-size: 10px;
  color: colors.$textBlack;
  &.isOpened {
    background: colors.$cardRed;
    color: colors.$point;
  }
}
