@use '/src/styles/colors.scss';

// ModalText.tsx
.modalTitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: colors.$modalBlack;
}

.modalLabel {
  display: inline-block;
  margin: 20px auto auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: colors.$modalLabel;
}

// ModalInput.tsx
.modalInput {
  width: 263px;
  height: 44px;
  padding: 12px 14px 12px 14px;
  margin-top: 16px;
  background-color: colors.$modalWhite;
  color: colors.$modalBlack;
  border-radius: 20px;
  border: 1px solid colors.$modalPoint;
  font-size: 20px;
  font-weight: 400;

  &:focus {
    outline: 1px solid colors.$modalPoint;
  }

  &::-webkit-calendar-picker-indicator {
    filter: invert(52%) sepia(36%) saturate(7081%) hue-rotate(341deg) brightness(100%) contrast(89%);
  }
}


.isAddIcon {
  padding: 12px 48px 12px 14px;
}

// ModalButton.tsx
.modalButton {
  height: 44px;
  margin-top: 28px;
  border: 1px solid colors.$modalPoint;
  border-radius: 20px;
  cursor: pointer;

  svg {
    display: inherit;
    margin-left: 15px;
    margin: 0 0 4px 15px;
  }
}

.normal {
  width: 263px;
  font-size: 24px;
  line-height: 24px;
}

.small {
  margin: 28px 3px 0;
  width: 124px;
  font-size: 20px;
  line-height: 20px;
}

.primary {
  background: colors.$modalPoint;
  color: colors.$modalWhite;
}

.secondary {
  background: colors.$modalWhite;
  color: colors.$modalPoint;
}

