@use '/src/styles/colors.scss';

.modalButton {
  width: 100%;
  height: 48px;
  margin-top: 28px;
  border: 1px solid colors.$modalPoint;
  border-radius: 20px;
  cursor: pointer;

  svg {
    display: inherit;
    margin-left: 15px;
    margin: 0 0 4px 15px;
  }
}

.normal {
  width: 263px;
  font-size: 24px;
  line-height: 24px;
}

.small {
  margin: 28px 5px 0;
  width: 120px;
  font-size: 20px;
  line-height: 20px;
}

.primary {
  background: colors.$modalPoint;
  color: colors.$modalWhite;
}

.secondary {
  background: colors.$modalWhite;
  color: colors.$modalPoint;
}
