//movable reset
.moveable-rotation .moveable-rotation-control {
}

.moveable-control,
.moveable-line {
  background: $point !important;
}

.moveable-rotation .moveable-rotation-line {
  display: none !important;
}
.moveable-rotation .moveable-rotation-control {
  border-color: transparent !important;
  background: no-repeat center / contain url('/imgs/rotate-icn.svg') !important;
  width: 24px !important;
  height: 24px !important;
  left: -20px !important;
  top: 15px !important;
}
