//movable reset
@use '../colors';

// page
.rollingpaper-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  &.light {
    background-color: $mainBg;
    color: #000;
  }
  &.dark {
    background-color: $darkBg;
    color: #fff;
  }
}

// library style

// movable sticker style
.moveable-control,
.moveable-line {
  background: $point !important;
}

.moveable-rotation .moveable-rotation-line {
  display: none !important;
}
.moveable-rotation .moveable-rotation-control {
  border-color: transparent !important;
  background: no-repeat center / contain url('/imgs/rotate-icn.svg') !important;
  width: 24px !important;
  height: 24px !important;
  left: -30px !important;
  top: 10px !important;
}

//react-zoom-pan-pinch

// 864 5133
.card-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}
.card-content-wrapper {
  display: block;
  min-height: 100% !important;
  min-width: 100% !important;
}
.card-content-component {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  margin: 64px;
}
.card-content {
  display: grid !important;
  padding: 32px;
  margin: 0 auto;
  align-items: center;
}

#vr-loading {
  opacity: 0;
  display: none;
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  &.light {
    background-color: $mainBg;
    color: #000;
  }
  &.dark {
    background-color: $darkBg;
    color: #fff;
  }
  .logo-container{
    width: 240px;
  }
} 

.loading-text {
  font-size: 36px;
  color: $point;
  text-align: center;
  margin:  16px 0;
}

#virtual-rollingPaper {
  opacity: 0;
  position: absolute;
  left: 0;
  z-index: -100;
  flex-direction: column;
  padding: 100px;
  &.light {
    background-color: $mainBg;
    color: #000;
  }
  &.dark {
    background-color: $darkBg;
    color: #fff;
  }
  .sticker-content{
    position: absolute;
    top:0;
  }
}
