// card color
$cardRed: #ffd3d3;
$cardBlue: #d3eaff;
$cardGreen: #def9c4;
$cardPurple: #efccff;
$cardYellow: #fff5bf;
$cardBeige: #ffdebf;
$cardWhite: #ffffff;

// text color
$textRed: #ff0000;
$textBlue: #0085ff;
$textGreen: #7dff00;
$textPurple: #ad00ff;
$textYellow: #ffd600;

// main color
$mainBg: #fff8eb;
$point: #f05a39;
$subPoint: #ffba47;
$pointLow: rgba(240, 90, 57, 0.8);
$grayMid: #787878;
$grayLow: #c0c0c0;
$darkBg: #736d62;

// modal color
$modalBlack: #000000;
$modalWhite: #ffffff;
$modalPoint: #f05a39;
$modalLabel: #787878;

// myPage color
$myPageMainBlack: #222222;

// etc
$kakao: #fee500;
$white: #ffff;
$black: #000000;
