// card color
$cardRed: #ffdfd8;
$cardBlue: #e2f5ff;
$cardGreen: #f1f9d2;
$cardPurple: #ffe0e8;
$cardYellow: #fff1be;
$cardBeige: #ffdebf;
$cardWhite: #ffffff;

// text color
$textRed: #e66262;
$textBlue: #3499f5;
$textGreen: #94c960;
$textPink: #f373a1;
$textOrange: #f58b29;
$textPurple: #ad00ff;
$textYellow: #ffd600;
$textBlack: #3e372b;
$textGray: #a4a4a4;

// main color
$mainBg: #fff8eb;
$point: #f05a39;
$subPoint: #ffba47;
$pointLow: rgba(240, 90, 57, 0.8);
$grayMid: #787878;
$grayLow: #c0c0c0;
$darkBg: #352e20;
$lightGrayBg: #e8e8e8;

// modal color
$modalBlack: #000000;
$modalWhite: #ffffff;
$modalPoint: #f05a39;
$modalLabel: #787878;

// mypage color
$myPageBlack: #222222;

// etc
$kakao: #fee500;
$white: #ffff;

$colorMap: (
  'cardRed': $cardRed,
  'cardBlue': $cardBlue,
  'cardGreen': $cardGreen,
  'cardPurple': $cardPurple,
  'cardYellow': $cardYellow,
  'cardBeige': $cardBeige,
  'cardWhite': $cardWhite,
  'textRed': $textRed,
  'textBlue': $textBlue,
  'textGreen': $textGreen,
  'textPink': $textPink,
  'textOrange': $textOrange,
  'textPurple': $textPurple,
  'textYellow': $textYellow,
  'textBlack': $textBlack,
  'textGray': $textGray,
  'mainBg': $mainBg,
  'point': $point,
  'subPoint': $subPoint,
  'pointLow': $pointLow,
  'grayMid': $grayMid,
  'grayLow': $grayLow,
  'darkBg': $darkBg,
  'myPageBlack': $myPageBlack,
  'lightGrayBg': $lightGrayBg
);
