@use '/src/styles/colors.scss';

.dropdown {
  position: absolute;
  right: 0;
  width: 124px;
  height: 120px;
  background: colors.$white;
  border: 1px solid colors.$point;
  border-radius: 8px;
  margin-top: -8px;
  transform: translateY(-20px);
  visibility: hidden;
  opacity: 0;
  transition: transform 300ms ease, visibility, opacity, 150ms;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  z-index: 999;

  &.isActive {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  button:not(:last-child) {
    border-bottom: 1px solid colors.$point;
  }

  button {
    display: block;
    width: 100%;
    height: 40px;
    background: transparent;
    font-size: 14px;
    color: colors.$myPageBlack;

    &:hover {
      font-weight: 900;
      background: rgba(colors.$pointLow, 0.2);
    }
  }
}
