@use '/src/styles/colors.scss';
@use '/src/styles//abstracts/responsive';

.dropdown {
  position: absolute;
  right: 0;
  top: 60px;
  width: 160px;
  height: 160px;
  background: colors.$white;
  border: 1px solid colors.$point;
  border-radius: 8px;
  margin: 0 10px 0 auto;
  transform: translateY(-20px);
  visibility: hidden;
  transition: transform 300ms ease, visibility 150ms;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  &.isActive {
    visibility: visible;
    transform: translateY(0);
  }

  button:not(:last-child) {
    border-bottom: 1px solid colors.$point;
  }

  button {
    display: block;
    width: 100%;
    height: 40px;
    background: transparent;
    color: colors.$myPageBlack;

    &:hover {
      font-weight: 900;
    }
  }
}
@include responsive.mobileOnly {
  .dropdown {
    width: 135px;
    margin: 0 -10px 0 auto;
  }
}
