@use '@/styles/colors.scss' as colors;
@use '@/styles/core/_typography.scss' as txt;

.close-btn {
  position: absolute;
  top: 100px;
  right: 20px;
}
.editor-btn {
  z-index: 101;
  position: absolute;
  width: 263px;
  height: 48px;
  background: #fff;
  color: colors.$point;
  border: 1px solid #f05a39;
  border-radius: 20px;
  bottom: 36px;
  @include txt.typograpy('basic', 24px);
}
