.background-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    margin-bottom: 10px;
  }

  span {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
}
