@use '/src/styles/colors.scss';

.editor-select-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  .editor-select-header {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);

    .editor-select-type {
      flex: 1;
      height: 60px;
      line-height: 60px;
      text-align: center;
      font-family: LeeSeoyun;
      font-size: 32px;
      font-weight: 400;
      color: colors.$white;
      cursor: pointer;
    }

    .selected {
      color: colors.$textYellow;
    }
  }

  .editor-select-body {
    height: calc(100% - 60px);
  }
}
