@use '/src/styles/colors.scss';

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 16px;
  width: 100%;
  height: 100%;
  .settingHeader {
    .backArrow {
      display: flex;
      align-items: center;
      svg {
        width: 20px;
        fill: colors.$point;
      }
      span {
        color: colors.$point;
        padding: 8px;
        font-size: 22px;
      }
    }
  }
  .contents {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    padding: 16px;
    background-color: colors.$white;
    border-radius: 20px;
    border: 1.2px solid colors.$point;
    .title {
      padding: 12px;
      font-size: 24px;
      border-bottom: 1px solid colors.$grayMid;
    }
    .buttonWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: colors.$textBlack;

      button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 20px;
        padding: 0 12px;
        border-bottom: 1px solid colors.$grayMid;
        svg {
          width: 8px;
        }
      }
    }
  }
}
