@use '/src/styles/colors.scss';

@keyframes shake {
  from {
    transform: translateX(-1px);
  }

  to {
    transform: translateX(2px);
  }
}

.myPageContainer {
  width: 100%;
  height: 100%;
  user-select: none;

  // Header Area
  .myPageHeader {
    height: 64px;
    line-height: 32px;
    margin-bottom: 18px;
  }
  .myPageMain {
    height: 95%;

    .myPageContentTitle {
      position: sticky;
      top: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 50px;
      border-top: 1.5px solid colors.$myPageBlack;
      border-bottom: 1.5px solid colors.$myPageBlack;
      font-size: 20px;
      z-index: 3;
    }

    .paperList {
      height: 90%;
      margin-top: 10px;
      overflow-y: scroll;
      scrollbar-width: none;
    }

    .paperList::-webkit-scrollbar {
      display: none;
    }
  }

  // Paper Add Button
  .paperAddButton {
    position: absolute;
    bottom: 24px;
    right: 24px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: colors.$point;
    border-radius: 50%;

    svg {
      width: 40px;
      height: 40px;
      padding: 4px 4px 2px 2px;
    }

    .myPageContentMain {
      display: flex;
      justify-content: space-around;
    }
  }

  .openFloatMessage {
    position: absolute;
    top: 50%;
    left: calc(50% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    padding: 8px;
    border-radius: 4px;
    margin: 0 auto;
    background-color: colors.$myPageBlack;
    opacity: 0;
    transition: opacity 300ms;
    &.isActive {
      animation: shake 100ms ease 7;
      opacity: 1;
    }

    p {
      color: colors.$white;
      text-align: center;
    }
  }
}
