@use '/src/styles/colors.scss';

.shareInputWrapper {
  position: relative;
  .shareIconButton {
    position: absolute;
    right: 14px;
    top: 26px;
    cursor: pointer;

    &:active {
      top: 27px;
    }
  }
}
