@use '/src/styles/colors.scss';

.openFloatMessage {
  position: absolute;
  bottom: 360px;
  width: flex;
  padding: 8px;
  border-radius: 4px;
  margin: 0 auto;
  background-color: colors.$myPageBlack;
  opacity: 0;
  transition: opacity 300ms;

  &.isActive {
    opacity: 1;
  }

  p {
    font-size: 16px;
    color: colors.$white;
    text-align: center;
    white-space: pre-wrap;
  }
}
